Repository aws-containers/retail-store-sample-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, gofmt -w, terraform fmt, tflint, yarn nx run-many -t update-samples --projects=tag:sample

fix: space in github action
  .github/workflows/ci.yml
Due: prettier --write

test catalog and checkout ci
  src/catalog/Dockerfile
  src/checkout/Dockerfile
Due: none

fix the ci services
  .github/workflows/ci.yml
Due: prettier --write

push security gate
  .github/workflows/ci.yml
Due: prettier --write

ci: add Day 11 security gates
  .github/workflows/ci.yml
Due: prettier --write

ci/day-11-security-gates
  .github/workflows/ci.yml
Due: prettier --write

update the helm chart
  .github/workflows/ci.yml
Due: prettier --write

fix trivy error
  .cache/trivy/db/metadata.json
  .github/workflows/ci.yml
  src/catalog/go.mod
  src/catalog/go.sum
  src/checkout/package-lock.json
  src/checkout/package.json
Due: prettier --write

Fix Trivy security gate failures
  .cache/trivy/db/metadata.json
  .github/workflows/ci.yml
  .gitignore
  src/catalog/Dockerfile
  src/checkout/Dockerfile
  src/ui/pom.xml
Due: prettier --write

Fix Trivy security gate failures
  .github/workflows/ci.yml
  .trivyignore.yaml
  src/cart/pom.xml
  src/orders/pom.xml
  src/ui/pom.xml
Due: prettier --write

fix trivy
  .gitignore
  src/cart/pom.xml
  src/orders/pom.xml
  src/ui/pom.xml
Due: prettier --write

fix some issue
  src/cart/Dockerfile
  src/orders/Dockerfile
  src/ui/Dockerfile
  src/ui/pom.xml
  src/ui/src/main/java/com/amazon/sample/ui/config/chat/BedrockChatConfig.java
Due: prettier --write

security: add expiry to Trivy exceptions
  .trivyignore.yaml
Due: prettier --write

fix: bump catalog go-envconfig to v1.4.3
  src/catalog/go.mod
  src/catalog/go.sum
  src/catalog/main.go
Due: gofmt -w

create the terraform desine
  .gitignore
  terraform/README.md
  terraform/bootstrap/outputs.tf
  terraform/bootstrap/variables.tf
  terraform/env/dev/main.tf
  terraform/env/dev/outputs.tf
  terraform/env/dev/providers.tf
  terraform/env/dev/variables.tf
  terraform/env/dev/versions.tf
  terraform/env/prod/main.tf
  terraform/env/prod/outputs.tf
  terraform/env/prod/variables.tf
  terraform/env/staging/main.tf
  terraform/env/staging/outputs.tf
  terraform/env/staging/providers.tf
  terraform/env/staging/variables.tf
  terraform/env/staging/versions.tf
  terraform/modules/ecr/main.tf
  terraform/modules/ecr/output.tf
  terraform/modules/ecr/outputs.tf
  terraform/modules/ecr/variabels.tf
  terraform/modules/ecr/variables.tf
  terraform/modules/eks/main.tf
  terraform/modules/eks/outputs.tf
  terraform/modules/eks/variables.tf
  terraform/modules/iam/github-ecr-role/main.tf
  terraform/modules/iam/github-oidc/main.tf
  terraform/modules/vpc/main.tf
  terraform/modules/vpc/outputs.tf
  terraform/modules/vpc/variabels.tf
  terraform/modules/vpc/variables.tf
Due: prettier --write, terraform fmt, tflint

create network and vpc
  terraform/env/dev/main.tf
  terraform/env/dev/outputs.tf
Due: terraform fmt, tflint

create the vpc and network on aws
  terraform/docs/day13-vpc-evidence.md
  terraform/modules/vpc/main.tf
Due: prettier --write, terraform fmt, tflint

added ecr and oidc
  terraform/env/dev/main.tf
  terraform/env/dev/outputs.tf
  terraform/env/dev/providers.tf
  terraform/env/dev/variables.tf
Due: terraform fmt, tflint

added ecr and oidc
  terraform/docs/day14-ecr-oidc-evidence.md
  terraform/modules/ecr/main.tf
  terraform/modules/ecr/outputs.tf
  terraform/modules/iam/github-ecr-role/main.tf
  terraform/modules/iam/github-ecr-role/outputs.tf
  terraform/modules/iam/github-ecr-role/variables.tf
  terraform/modules/iam/github-oidc/main.tf
Due: prettier --write, terraform fmt, tflint

added ecr and oidc
  .github/workflows/oidc-test.yml
  .gitignore
Due: prettier --write

fix: restrict CI workflow permissions
  .github/workflows/ci-assets.yml
Due: prettier --write

changed naming convention of customerid
  src/checkout/src/checkout/checkout.controller.ts
Due: prettier --write

dockerfiles and docker compose
  docker-compose.yml
  src/cart/Dockerfile
  src/catalog/Dockerfile
  src/checkout/.dockerignore
  src/checkout/Dockerfile
  src/orders/Dockerfile
  src/ui/Dockerfile
Due: prettier --write

remove old workflow
  .github/actions/setup-docker/action.yml
  .github/actions/setup-env/action.yml
  .github/workflows/artifacts.yaml
  .github/workflows/e2e-test.yml
  .github/workflows/oss.yml
  .github/workflows/pr.yaml
  .github/workflows/publish-build.yml
  .github/workflows/release-please.yml
Due: prettier --write

test oidc
  .github/workflows/test-oidc.yml
Due: prettier --write

fix(docker): Apply OS security updates when building images [security]
  src/cart/Dockerfile
  src/catalog/Dockerfile
  src/checkout/Dockerfile
  src/load-generator/Dockerfile
  src/orders/Dockerfile
  src/ui/Dockerfile
Due: none

fix(deps): Update catalog Go modules with security fixes [security]
  src/catalog/go.mod
  src/catalog/go.sum
Due: none

fix(deps): Update cart Java dependencies with security fixes [security]
  src/cart/pom.xml
Due: prettier --write

fix(deps): Update orders Java dependencies with security fixes [security]
  src/orders/pom.xml
Due: prettier --write

fix(deps): Update ui Java dependencies with security fixes [security]
  src/ui/pom.xml
  src/ui/src/main/java/com/amazon/sample/ui/config/chat/BedrockChatConfig.java
Due: prettier --write

fix(checkout): Replace deprecated request package with Fetch API [security]
  src/checkout/package.json
  src/checkout/src/checkout/orders/MockOrdersService.ts
  src/checkout/src/clients/orders/api/apis.ts
  src/checkout/src/clients/orders/api/ordersApi.ts
  src/checkout/src/clients/orders/model/models.ts
  src/checkout/yarn.lock
Due: prettier --write

fix(deps): Update checkout npm dependencies with security fixes [security]
  src/checkout/package.json
  src/checkout/yarn.lock
Due: prettier --write

test(e2e): Accept stable db.system.name attribute in trace assertions
  src/e2e/scripts/assert-traces.sh
Due: none

fix(docker): Apply OS security updates when building images [security] (#1116)
  src/cart/Dockerfile
  src/catalog/Dockerfile
  src/checkout/Dockerfile
  src/load-generator/Dockerfile
  src/orders/Dockerfile
  src/ui/Dockerfile
Due: none

fix(checkout): Replace request package and update dependencies [security] (#1121)
  src/checkout/package.json
  src/checkout/src/checkout/orders/MockOrdersService.ts
  src/checkout/src/clients/orders/api/apis.ts
  src/checkout/src/clients/orders/api/ordersApi.ts
  src/checkout/src/clients/orders/model/models.ts
  src/checkout/yarn.lock
  src/e2e/scripts/assert-traces.sh
Due: prettier --write

fix(deps): Update ui Java dependencies with security fixes [security] (#1120)
  src/ui/pom.xml
  src/ui/src/main/java/com/amazon/sample/ui/config/chat/BedrockChatConfig.java
Due: prettier --write

fix(deps): Update orders Java dependencies with security fixes [security] (#1119)
  src/orders/pom.xml
Due: prettier --write

fix(deps): Update cart Java dependencies with security fixes [security] (#1118)
  src/cart/pom.xml
Due: prettier --write

fix(deps): Update catalog Go modules with security fixes [security] (#1117)
  src/catalog/go.mod
  src/catalog/go.sum
Due: none

Path conditions:
  prettier --write: ((any of: *.{js,jsx,ts,tsx,json,md,yaml,yml}) or (any of: *.java)) or (any of: *.xml)
  gofmt -w: any of: *.go
  terraform fmt: any of: *.tf
  tflint: any of: *.tf
  yarn nx run-many -t update-samples --projects=tag:sample: any of: samples/**/*
