Repository aws-containers/retail-store-sample-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, gofmt -w, terraform fmt, tflint, yarn nx run-many -t update-samples --projects=tag:sample

fix: retry MySQL connection on startup
  src/catalog/repository/repository.go
Due: gofmt -w

fix(src): modify Dockerfile of catalog, orders, cart, checkout, ui
  src/cart/Dockerfile
  src/catalog/Dockerfile
  src/checkout/Dockerfile
  src/orders/Dockerfile
  src/ui/Dockerfile
Due: none

chore: Download go deps directly
  .github/workflows/artifacts.yaml
Due: prettier --write

chore: Switch goproxy
  .github/workflows/artifacts.yaml
Due: prettier --write

fix: Update catalog goproxy
  src/catalog/Dockerfile
Due: none

fix: Update catalog goproxy (#1009)
  src/catalog/Dockerfile
Due: none

fix: retry MySQL connection on startup (#1005)
  src/catalog/repository/repository.go
Due: gofmt -w

fix(src): modify Dockerfile catalog
  src/catalog/Dockerfile
Due: none

fix: resolve conflict
  src/cart/Dockerfile
  src/catalog/Dockerfile
  src/checkout/Dockerfile
  src/orders/Dockerfile
  src/ui/Dockerfile
Due: none

fix: resolve conflict
  src/catalog/Dockerfile
  src/ui/Dockerfile
Due: none

fix: resolve conflict
  src/catalog/Dockerfile
  src/checkout/Dockerfile
Due: none

fix: resolve conflict
  src/checkout/Dockerfile
Due: none

fix: resolve conflict
  src/catalog/Dockerfile
Due: none

fix: resolve conflict
  src/checkout/Dockerfile
  src/ui/Dockerfile
Due: none

fix: resolve conflict
  src/cart/Dockerfile
  src/catalog/Dockerfile
  src/orders/Dockerfile
  src/ui/Dockerfile
Due: none

chore(reamdme): Updated to reflect the state of SLOs
  README.md
Due: prettier --write

Input Validation check and fixed terraform output
  src/ui/src/main/java/com/amazon/sample/ui/web/CatalogController.java
  src/ui/src/main/resources/templates/catalog.html
  terraform/lib/dependencies/outputs.tf
Due: prettier --write, terraform fmt, tflint

feat cicd pipeline (#9)
  .github/workflows/CI.yml
  .github/workflows/r-build-scan-push.yml
  nx.json
  scripts/create-manifest.sh
Due: prettier --write

fix: cicd pipeline (#10)
  src/catalog/Dockerfile
Due: none

feat(ci): multi-region release artifact with env role mapping
  .github/workflows/app-ci.yml
  .github/workflows/release-artifact.yml
  scripts/generate-release-manifest.sh
Due: prettier --write

Add local release artifact blueprint
  docs/release-artifact-blueprint.md
Due: prettier --write

Revert "Merge pull request #4 from AndrewDoan01/hwuxfuoc"
  src/cart/Dockerfile
  src/catalog/Dockerfile
  src/checkout/Dockerfile
  src/orders/Dockerfile
  src/ui/Dockerfile
Due: none

feat: Trivy scan (#12)
  .github/workflows/CI.yml
  .github/workflows/pr-validation.yml
  .github/workflows/r-build-scan-push.yml
  .github/workflows/validate.yml
  src/cart/pom.xml
  src/catalog/Dockerfile
  src/catalog/go.mod
  src/catalog/go.sum
  src/checkout/Dockerfile
  src/checkout/package.json
  src/checkout/project.json
  src/checkout/src/clients/orders/api/ordersApi.ts
  src/checkout/src/clients/orders/model/models.ts
  src/checkout/yarn.lock
  src/orders/pom.xml
  src/ui/Dockerfile
  src/ui/pom.xml
  src/ui/src/main/java/com/amazon/sample/ui/config/chat/BedrockChatConfig.java
Due: prettier --write

fix: checkout service error (#13)
  .github/workflows/pr-validation.yml
  src/checkout/Dockerfile
Due: prettier --write

feat: Custom UI response for text tools
  src/ui/src/main/java/com/amazon/sample/ui/web/util/AsciiArtWebFilter.java
  src/ui/src/main/resources/ascii-art.txt
  src/ui/src/test/java/com/amazon/sample/ui/web/util/AsciiArtWebFilterTest.java
Due: prettier --write

Only apply text output to UI home page
  src/ui/src/main/java/com/amazon/sample/ui/web/util/AsciiArtWebFilter.java
  src/ui/src/main/resources/ascii-art.txt
  src/ui/src/test/java/com/amazon/sample/ui/web/util/AsciiArtWebFilterTest.java
Due: prettier --write

Document feature
  docs/features.md
Due: prettier --write

docs: Fix orders readme formatting
  src/orders/README.md
Due: prettier --write

fix: Fix Spring Boot 3 http codec setting
  src/ui/src/main/resources/application.yml
Due: prettier --write

fix: Remove console print in UI
  src/ui/src/main/java/com/amazon/sample/ui/services/catalog/MockCatalogService.java
Due: prettier --write

chore: Migration from lint-staged to lefthook
  .husky/pre-commit
  .lintstagedrc.json
  lefthook.yml
  package.json
  yarn.lock
Due: prettier --write

Rework PR check
  .github/workflows/pr.yaml
  lefthook.yml
  package.json
Due: prettier --write

feat: UI text response (#1017)
  docs/features.md
  src/ui/src/main/java/com/amazon/sample/ui/web/util/AsciiArtWebFilter.java
  src/ui/src/main/resources/ascii-art.txt
  src/ui/src/test/java/com/amazon/sample/ui/web/util/AsciiArtWebFilterTest.java
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.{js,jsx,ts,tsx,json,md,yaml,yml}) or (any of: *.java)) or (any of: *.xml)
  gofmt -w: any of: *.go
  terraform fmt: any of: *.tf
  tflint: any of: *.tf
  yarn nx run-many -t update-samples --projects=tag:sample: any of: samples/**/*
