Repository aws-containers/retail-store-sample-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, gofmt -w, terraform fmt, tflint, yarn nx run-many -t update-samples --projects=tag:sample

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json,md,yaml,yml}": "prettier --write",
  "*.java": "prettier --write",
  "*.xml": "prettier --write",
  "*.go": "gofmt -w",
  "*.tf": ["terraform fmt", "tflint"],
  "samples/**/*": "yarn nx run-many -t update-samples --projects=tag:sample"
}

Bump lefthook version, fix flag
  .github/workflows/pr.yaml
  package.json
  yarn.lock
Due: prettier --write

Add tflint to mise
  .mise.toml
Due: none

chore: Migration from lint-staged to lefthook (#1020)
  .github/workflows/pr.yaml
  .husky/pre-commit
  .lintstagedrc.json
  .mise.toml
  lefthook.yml
  package.json
  yarn.lock
Due: prettier --write

fix: package and yarn (#14)
  src/checkout/package.json
  src/checkout/yarn.lock
Due: prettier --write

complete root main.tf v1
  terraform/backend.tf
  terraform/helm.tf
  terraform/main.tf
  terraform/modules/eks/main.tf
  terraform/modules/eks/variables.tf
  terraform/modules/vpc/outputs.tf
  terraform/outputs.tf
  terraform/providers.tf
  terraform/variables.tf
Due: terraform fmt, tflint

chore: Add tests to ensure OpenTelemetry traces are working
  .github/workflows/e2e-test.yml
  src/app/docker-compose.tracetest.yml
  src/tracetest/config.yml
  src/tracetest/provisioning.yml
  src/tracetest/tests/catalog-products.yml
  src/tracetest/tests/checkout-update.yml
Due: prettier --write

Rework to use jaeger
  .github/workflows/e2e-test.yml
  src/app/docker-compose.tracetest.yml
  src/app/docker-compose.tracing.yml
  src/app/otel-collector-config.yml
  src/e2e/scripts/assert-traces.sh
  src/tracetest/config.yml
  src/tracetest/provisioning.yml
  src/tracetest/tests/catalog-products.yml
  src/tracetest/tests/checkout-update.yml
Due: prettier --write

Removed otel health check
  src/app/docker-compose.tracing.yml
  src/app/otel-collector-config.yml
Due: prettier --write

Group golang deps
  renovate.json
Due: prettier --write

chore: Add tests to ensure OpenTelemetry traces are working (#1026)
  .github/workflows/e2e-test.yml
  renovate.json
  src/app/docker-compose.tracing.yml
  src/app/otel-collector-config.yml
  src/e2e/scripts/assert-traces.sh
Due: prettier --write

Add files via upload
  alb-setup.md
Due: prettier --write

feat: add argocd deployment
  terraform/argocd_root.tf
  terraform/modules/argocd/main.tf
  terraform/modules/argocd/outputs.tf
  terraform/modules/argocd/variables.tf
  terraform/variables.tf
Due: terraform fmt, tflint

feat(monitor): prometheus/grafana configuration
  terraform/backend.tf
  terraform/helm.tf
  terraform/versions.tf
Due: terraform fmt, tflint

delete semantic check
  .github/workflows/pr-validation.yml
Due: prettier --write

fix trivy scan (#18)
  src/cart/pom.xml
  src/catalog/Dockerfile
  src/catalog/go.mod
  src/checkout/package.json
  src/orders/pom.xml
  src/ui/pom.xml
Due: prettier --write

Fix: trivy scan (#19)
  src/checkout/package.json
  src/orders/pom.xml
Due: prettier --write

Feat/argocd (#21)
  .github/workflows/r-build-scan-push.yml
  src/checkout/.yarnrc.yml
  src/checkout/package.json
  src/checkout/yarn.lock
Due: prettier --write

Feat/argocd (#22)
  .github/workflows/CI.yml
  .github/workflows/pr-validation.yml
  src/checkout/.yarnrc.yml
  src/checkout/package.json
  src/checkout/yarn.lock
Due: prettier --write

change ecr naming
  .github/workflows/r-build-scan-push.yml
Due: prettier --write

Fix: simplify condition for repo server IRSA annotation
  terraform/modules/argocd/main.tf
Due: terraform fmt, tflint

Change service port from 8888 to 80
  demo-app-manifest/ui-service.yaml
Due: prettier --write

Fix: update default instance type to t3.medium and increase max node size to 6
  terraform/modules/eks/variables.tf
  terraform/variables.tf
Due: terraform fmt, tflint

Fix: add ELB role tags to public and private subnets
  terraform/modules/vpc/modules/subnet/main.tf
Due: terraform fmt, tflint

fix(eks): change instance type
  terraform/variables.tf
Due: terraform fmt, tflint

added readme file
  alb-setup.md
Due: prettier --write

feat(ui): add Anthropic Claude API support with GitHub Actions deploy pipeline
  .github/workflows/deploy-ui.yml
  src/ui/chart/templates/configmap.yml
  src/ui/chart/values.yaml
  src/ui/pom.xml
  src/ui/src/main/java/com/amazon/sample/ui/config/chat/AnthropicChatConfig.java
  src/ui/src/main/java/com/amazon/sample/ui/config/chat/AnthropicChatProperties.java
  src/ui/src/main/java/com/amazon/sample/ui/config/chat/OpenAIChatConfig.java
Due: prettier --write

feat(ci): single manual pipeline with credential inputs, disable old push triggers
  .github/workflows/ci-cd.yml
  .github/workflows/ecr-build-push.yml
  .github/workflows/eks-terraform.yml
Due: prettier --write

fix(ci): pre-create ECR repos in bootstrap before build/mirror jobs run
  .github/workflows/ci-cd.yml
Due: prettier --write

fix(terraform): remove all hardcoded account IDs — fully account-generic
  terraform/retail-store-eks/iam.tf
  terraform/retail-store-eks/main.tf
  terraform/retail-store-eks/outputs.tf
Due: terraform fmt, tflint

fix(ci+terraform): fix iam:TagPolicy denied and ECR already-exists errors
  .github/workflows/ci-cd.yml
  terraform/retail-store-eks/main.tf
Due: prettier --write, terraform fmt, tflint

feat(ci): use amazon-elastic-kubernetes-service-course for EKS Terraform
  .github/workflows/ci-cd.yml
Due: prettier --write

fix(ci): make pipeline fully account-generic — zero hardcoded values
  .github/workflows/ci-cd.yml
Due: prettier --write

feat(ci): drop DynamoDB lock table — use Terraform 1.10 native S3 locking
  .github/workflows/ci-cd.yml
Due: prettier --write

feat: add demo-eks-terraform and use local EKS Terraform in pipeline
  .github/workflows/ci-cd.yml
  demo-eks-terraform/.gitignore
  demo-eks-terraform/README.md
  demo-eks-terraform/alb-controller.tf
  demo-eks-terraform/aws-auth.tf
  demo-eks-terraform/check-environment.ps1
  demo-eks-terraform/check-environment.sh
  demo-eks-terraform/data.tf
  demo-eks-terraform/eks.tf
  demo-eks-terraform/main.tf
  demo-eks-terraform/modules/create-service-role/main.tf
  demo-eks-terraform/modules/use-service-role/main.tf
  demo-eks-terraform/nodes.tf
  demo-eks-terraform/policies.tf
  demo-eks-terraform/policy.yaml
  demo-eks-terraform/retail-store.tf
  demo-eks-terraform/retail-store.yaml
  demo-eks-terraform/variables.tf
Due: prettier --write, terraform fmt, tflint

fix: remove stale managed-policy references causing terraform validate errors
  demo-eks-terraform/alb-controller.tf
  demo-eks-terraform/nodes.tf
Due: terraform fmt, tflint

fix: resolve terraform plan failures in demo-eks-terraform
  demo-eks-terraform/.gitignore
  demo-eks-terraform/data.tf
  demo-eks-terraform/main.tf
  demo-eks-terraform/nodes.tf
Due: terraform fmt, tflint

fix(ci-cd): treat IAM get-role AccessDenied as 'role exists' in bootstrap
  .github/workflows/ci-cd.yml
Due: prettier --write

fix(ci-cd,tf): switch inline IAM policies to managed; pin use_predefined_role=false
  .github/workflows/ci-cd.yml
  demo-eks-terraform/alb-controller.tf
  demo-eks-terraform/eks.tf
  demo-eks-terraform/nodes.tf
  demo-eks-terraform/policies.tf
Due: prettier --write, terraform fmt, tflint
