Repository aws-containers/retail-store-sample-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, gofmt -w, terraform fmt, tflint, yarn nx run-many -t update-samples --projects=tag:sample

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json,md,yaml,yml}": "prettier --write",
  "*.java": "prettier --write",
  "*.xml": "prettier --write",
  "*.go": "gofmt -w",
  "*.tf": ["terraform fmt", "tflint"],
  "samples/**/*": "yarn nx run-many -t update-samples --projects=tag:sample"
}

Fix snyk
  .circleci/config.yml
Due: prettier --write

Fix xss vuln
  src/ui/src/main/java/com/amazon/sample/ui/web/UtilityController.java
Due: prettier --write

Configure Dependabot for Go, Node.js, and Maven
  .github/dependabot.yml
Due: prettier --write

Update dependabot.yml
  .github/dependabot.yml
Due: prettier --write

Change Maven update interval from daily to weekly
  .github/dependabot.yml
Due: prettier --write

Change Maven update interval from weekly to daily
  .github/dependabot.yml
Due: prettier --write

Fix typo in dependabot.yml schedule interval
  .github/dependabot.yml
Due: prettier --write

Update image versioning
  .circleci/config.yml
Due: prettier --write

Update dependabot configuration for package updates
  .github/dependabot.yml
Due: prettier --write

Fix docker caching
  .circleci/config.yml
Due: prettier --write

Fix pr
  .circleci/config.yml
Due: prettier --write

Fix pr creation
  .circleci/config.yml
Due: prettier --write

Remove Node.js update config from dependabot.yml
  .github/dependabot.yml
Due: prettier --write

Migrate to new cicd
  .github/actions/setup-docker/action.yml
  .github/actions/setup-env/action.yml
  .github/dependabot.yml
  .github/workflows/artifacts.yaml
  .github/workflows/e2e-test.yml
  .github/workflows/oss.yml
  .github/workflows/pr.yaml
  .github/workflows/publish-build.yml
  .github/workflows/release-please.yml
Due: prettier --write

feat(terraform): add backend and versions configuration
  terraform/backend.tf
  terraform/versions.tf
Due: terraform fmt, tflint

chore(db): remove Kubernetes database configs
  src/app/helmfile.yaml
  src/cart/chart/templates/dynamodb-deployment.yaml
  src/cart/chart/templates/dynamodb-service.yaml
  src/catalog/chart/templates/mysql-service.yaml
  src/catalog/chart/templates/mysql-statefulset.yaml
  src/catalog/chart/values.yaml
  src/orders/chart/templates/postgresql-service.yaml
  src/orders/chart/templates/postgresql-statefulset.yaml
  src/orders/chart/templates/secret-db.yaml
  src/orders/chart/values1.yaml
Due: prettier --write

feat(terraform): database module
  terraform/modules/database/main.tf
  terraform/modules/database/variables.tf
Due: terraform fmt, tflint

feat(terraform): database module
  terraform/backend.tf
Due: terraform fmt, tflint

khaipd18 - VPC module v1
  terraform/vpc/main.tf
  terraform/vpc/modules/igw/main.tf
  terraform/vpc/modules/igw/outputs.tf
  terraform/vpc/modules/igw/variables.tf
  terraform/vpc/modules/nat_gw/main.tf
  terraform/vpc/modules/nat_gw/outputs.tf
  terraform/vpc/modules/nat_gw/variables.tf
  terraform/vpc/modules/route-table/main.tf
  terraform/vpc/modules/route-table/outputs.tf
  terraform/vpc/modules/route-table/variables.tf
  terraform/vpc/modules/subnet/main.tf
  terraform/vpc/modules/subnet/outputs.tf
  terraform/vpc/modules/subnet/variables.tf
  terraform/vpc/outputs.tf
  terraform/vpc/variables.tf
Due: terraform fmt, tflint

khaipd18 - cloudfront module v1
  terraform/cloudfront/main.tf
  terraform/cloudfront/outputs.tf
  terraform/cloudfront/variables.tf
Due: terraform fmt, tflint

Delete spare folders in terraform
  terraform/cloudfront/main.tf
  terraform/cloudfront/outputs.tf
  terraform/cloudfront/variables.tf
  terraform/vpc/main.tf
  terraform/vpc/modules/igw/main.tf
  terraform/vpc/modules/igw/outputs.tf
  terraform/vpc/modules/igw/variables.tf
  terraform/vpc/modules/nat_gw/main.tf
  terraform/vpc/modules/nat_gw/outputs.tf
  terraform/vpc/modules/nat_gw/variables.tf
  terraform/vpc/modules/route-table/main.tf
  terraform/vpc/modules/route-table/outputs.tf
  terraform/vpc/modules/route-table/variables.tf
  terraform/vpc/modules/subnet/main.tf
  terraform/vpc/modules/subnet/outputs.tf
  terraform/vpc/modules/subnet/variables.tf
  terraform/vpc/outputs.tf
  terraform/vpc/variables.tf
Due: terraform fmt, tflint

fix(orders): Align field for address between checkout & orders (#969)
  src/ui/src/main/resources/templates/checkout-shipping.html
Due: none

Various fixes
  .github/workflows/e2e-test.yml
  src/catalog/README.md
  src/catalog/api/catalog.go
  src/catalog/chart/templates/opensearch-service.yaml
  src/catalog/chart/templates/opensearch-statefulset.yaml
  src/catalog/config/config.go
  src/catalog/controller/controller.go
  src/catalog/docker-compose.yml
  src/catalog/main.go
  src/catalog/repository/opensearch.go
  src/e2e/cypress/e2e/search.cy.js
  src/e2e/scripts/run-docker.sh
  src/ui/docker-compose.yml
  src/ui/src/main/resources/templates/catalog.html
Due: prettier --write, gofmt -w

docs: Fix orders readme formatting
  src/orders/README.md
Due: prettier --write

feat(terraform): add database's output
  terraform/modules/database/outputs.tf
Due: terraform fmt, tflint

feat(terraform): create oidc_iam_role module
  terraform/main.tf
  terraform/modules/eks/irsa.tf
  terraform/modules/oidc_iam_role/main.tf
  terraform/modules/oidc_iam_role/outputs.tf
  terraform/modules/oidc_iam_role/variables.tf
  terraform/outputs.tf
  terraform/variables.tf
  terraform/versions.tf
Due: terraform fmt, tflint

feat(terraform): add database's output (#7)
  terraform/main.tf
  terraform/modules/database/outputs.tf
  terraform/modules/eks/irsa.tf
  terraform/modules/oidc_iam_role/main.tf
  terraform/modules/oidc_iam_role/outputs.tf
  terraform/modules/oidc_iam_role/variables.tf
  terraform/outputs.tf
  terraform/variables.tf
  terraform/versions.tf
Due: terraform fmt, tflint

feat ci pipeline (#8)
  .github/workflows/CI.yml
  .github/workflows/e2e-test.yml
  .github/workflows/oss.yml
  .github/workflows/pr-validation.yml
  .github/workflows/pr.yaml
  .github/workflows/publish-build.yml
  .github/workflows/release-please.yml
  .github/workflows/validate.yml
  scripts/benchmark-docker-builds.sh
  src/cart/.dockerignore
  src/cart/Dockerfile
  src/catalog/.dockerignore
  src/catalog/Dockerfile
  src/catalog/docker-compose.yml
  src/checkout/.dockerignore
  src/checkout/Dockerfile
  src/checkout/docker-compose.yml
  src/orders/.dockerignore
  src/orders/Dockerfile
  src/ui/.dockerignore
  src/ui/Dockerfile
  src/ui/docker-compose.yml
  src/ui/project.json
Due: prettier --write

chore(infra): enable clean teardown and add memory-bank to gitignore
  .gitignore
  terraform/bootstrap/main.tf
  terraform/ecr/main.tf
Due: terraform fmt, tflint

feat(monitoring): add comprehensive observability for ECS cluster
  src/cart/src/main/resources/log4j2-json-template.json
  src/cart/src/main/resources/log4j2-spring.xml
  src/catalog/main.go
  src/checkout/package.json
  src/checkout/src/main.ts
  src/checkout/yarn.lock
  src/orders/src/main/resources/log4j2-json-template.json
  src/orders/src/main/resources/log4j2-spring.xml
  src/ui/src/main/resources/log4j2-json-template.json
  src/ui/src/main/resources/log4j2-spring.xml
  terraform/ecs/default/main.tf
  terraform/ecs/default/variables.tf
  terraform/lib/ecs/carts.tf
  terraform/lib/ecs/catalog.tf
  terraform/lib/ecs/checkout.tf
  terraform/lib/ecs/cluster.tf
  terraform/lib/ecs/monitoring.tf
  terraform/lib/ecs/monitoring/alarms-alb.tf
  terraform/lib/ecs/monitoring/alarms-data.tf
  terraform/lib/ecs/monitoring/alarms-ecs.tf
  terraform/lib/ecs/monitoring/anomaly-detection.tf
  terraform/lib/ecs/monitoring/application-signals.tf
  terraform/lib/ecs/monitoring/contributor-insights.tf
  terraform/lib/ecs/monitoring/dashboard.tf
  terraform/lib/ecs/monitoring/field-indexes.tf
  terraform/lib/ecs/monitoring/log-anomaly.tf
  terraform/lib/ecs/monitoring/metric-filters.tf
  terraform/lib/ecs/monitoring/outputs.tf
  terraform/lib/ecs/monitoring/sns.tf
  terraform/lib/ecs/monitoring/variables.tf
  terraform/lib/ecs/monitoring/versions.tf
  terraform/lib/ecs/monitoring/xray.tf
  terraform/lib/ecs/orders.tf
  terraform/lib/ecs/outputs.tf
  terraform/lib/ecs/service/ecs.tf
  terraform/lib/ecs/service/variables.tf
  terraform/lib/ecs/ui.tf
  terraform/lib/ecs/variables.tf
Due: prettier --write, gofmt -w, terraform fmt, tflint

fix(checkout): add missing peer dependencies for Docker build
  src/checkout/package.json
  src/checkout/yarn.lock
Due: prettier --write

fix(logging): add log4j-layout-template-json and monitoring workflow input
  .github/workflows/deploy-ecs.yml
  .gitignore
  src/cart/pom.xml
  src/orders/pom.xml
  src/ui/pom.xml
Due: prettier --write

fix(monitoring): resolve SLO and Contributor Insights apply errors
  terraform/lib/ecs/monitoring/application-signals.tf
  terraform/lib/ecs/monitoring/contributor-insights.tf
  terraform/lib/ecs/monitoring/variables.tf
Due: terraform fmt, tflint

docs: update README with monitoring and observability capabilities
  README.md
Due: prettier --write

fix(mq): ignore user changes on RabbitMQ broker after creation
  terraform/lib/dependencies/mq.tf
Due: terraform fmt, tflint

feat(monitoring): enable Application Signals with ADOT auto-instrumentation
  terraform/ecs/default/main.tf
  terraform/ecs/default/variables.tf
  terraform/lib/ecs/monitoring.tf
  terraform/lib/ecs/monitoring/application-signals.tf
  terraform/lib/ecs/service/ecs.tf
  terraform/lib/ecs/service/iam.tf
  terraform/lib/ecs/variables.tf
Due: terraform fmt, tflint

fix(monitoring): set deployment.environment for Application Signals
  terraform/lib/ecs/service/ecs.tf
Due: terraform fmt, tflint

fix(monitoring): tune memory anomaly detection to reduce false positives
  terraform/lib/ecs/monitoring/anomaly-detection.tf
Due: terraform fmt, tflint

fix(mq): use RabbitMQ-compatible instance type mq.m7g.medium
  terraform/lib/dependencies/mq.tf
Due: terraform fmt, tflint
