Repository aws-containers/retail-store-sample-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, gofmt -w, terraform fmt, tflint, yarn nx run-many -t update-samples --projects=tag:sample

fix(tf): stable literal cluster role_arn to prevent cluster replacement
  demo-eks-terraform/data.tf
  demo-eks-terraform/eks.tf
Due: terraform fmt, tflint

feat(tf): expose UI ALB URL as a Terraform output
  demo-eks-terraform/retail-store.tf
Due: terraform fmt, tflint

fix(tf): cap node group at 2 nodes to respect 10 vCPU sandbox limit
  demo-eks-terraform/variables.tf
Due: terraform fmt, tflint

Enhance CI/CD pipeline and Terraform configurations for EKS (#2)
  .github/workflows/ci-cd.yml
  demo-eks-terraform/.gitignore
  demo-eks-terraform/README.md
  demo-eks-terraform/alb-controller.tf
  demo-eks-terraform/aws-auth.tf
  demo-eks-terraform/check-environment.ps1
  demo-eks-terraform/check-environment.sh
  demo-eks-terraform/data.tf
  demo-eks-terraform/eks.tf
  demo-eks-terraform/main.tf
  demo-eks-terraform/modules/create-service-role/main.tf
  demo-eks-terraform/modules/use-service-role/main.tf
  demo-eks-terraform/nodes.tf
  demo-eks-terraform/policies.tf
  demo-eks-terraform/policy.yaml
  demo-eks-terraform/retail-store.tf
  demo-eks-terraform/retail-store.yaml
  demo-eks-terraform/variables.tf
  terraform/retail-store-eks/iam.tf
  terraform/retail-store-eks/main.tf
  terraform/retail-store-eks/outputs.tf
Due: prettier --write, terraform fmt, tflint

feat: Added recommendations feature
  src/recommendations/README.md
  src/recommendations/openapi.yml
  src/ui/pom.xml
  src/ui/src/main/java/com/amazon/sample/ui/client/recommendations/RecommendationsClient.java
  src/ui/src/main/java/com/amazon/sample/ui/client/recommendations/kiota-lock.json
  src/ui/src/main/java/com/amazon/sample/ui/client/recommendations/models/httputil/HTTPError.java
  src/ui/src/main/java/com/amazon/sample/ui/client/recommendations/models/model/Recommendation.java
  src/ui/src/main/java/com/amazon/sample/ui/client/recommendations/recommendations/RecommendationsRequestBuilder.java
  src/ui/src/main/java/com/amazon/sample/ui/client/recommendations/recommendations/item/WithProductItemRequestBuilder.java
  src/ui/src/main/java/com/amazon/sample/ui/config/EndpointProperties.java
  src/ui/src/main/java/com/amazon/sample/ui/config/StoreServices.java
  src/ui/src/main/java/com/amazon/sample/ui/services/recommendations/KiotaRecommendationsService.java
  src/ui/src/main/java/com/amazon/sample/ui/services/recommendations/MockRecommendationsService.java
  src/ui/src/main/java/com/amazon/sample/ui/services/recommendations/RecommendationsService.java
  src/ui/src/main/java/com/amazon/sample/ui/web/CatalogController.java
  src/ui/src/main/java/com/amazon/sample/ui/web/TopologyController.java
  src/ui/src/main/resources/application.yml
  src/ui/src/main/resources/templates/detail.html
  src/ui/src/main/resources/templates/fragments/product_card.html
  src/ui/src/main/resources/templates/topology.html
Due: prettier --write

Update UI helm chart
  src/ui/chart/README.md
  src/ui/chart/templates/configmap.yml
  src/ui/chart/values.yaml
Due: prettier --write

fix: Simplify search TF configuration, support ECS
  terraform/ecs/default/main.tf
  terraform/eks/default/kubernetes.tf
  terraform/eks/default/main.tf
  terraform/eks/default/variables.tf
  terraform/lib/dependencies/catalog_opensearch.tf
  terraform/lib/dependencies/mq.tf
  terraform/lib/dependencies/outputs.tf
  terraform/lib/dependencies/variables.tf
  terraform/lib/ecs/catalog.tf
  terraform/lib/ecs/ui.tf
  terraform/lib/ecs/variables.tf
Due: terraform fmt, tflint

fix: UI topology fallback to health endpoint
  src/ui/src/main/java/com/amazon/sample/ui/web/TopologyController.java
  src/ui/src/main/java/com/amazon/sample/ui/web/util/TopologyInformation.java
  src/ui/src/main/java/com/amazon/sample/ui/web/util/TopologyService.java
  src/ui/src/main/resources/templates/topology.html
  src/ui/src/test/java/com/amazon/sample/ui/web/util/TopologyServiceTest.java
Due: prettier --write

feat(catalog) Implement IAM auth
  src/catalog/chart/templates/configmap.yml
  src/catalog/go.mod
  src/catalog/go.sum
  src/catalog/repository/opensearch.go
Due: prettier --write, gofmt -w

fix(cart): handle DynamoDB table creation failure and fix healthcheck
  src/cart/docker-compose.yml
  src/cart/src/main/java/com/amazon/sample/carts/services/DynamoDBCartService.java
Due: prettier --write

fix(cart): replace no-op DynamoDB healthcheck with curl readiness probe and fail-fast on table creation
  src/cart/docker-compose.yml
  src/cart/src/main/java/com/amazon/sample/carts/services/DynamoDBCartService.java
Due: prettier --write

fix(cart): fail-fast when DynamoDB table cannot be created at startup
  src/cart/docker-compose.yml
  src/cart/src/main/java/com/amazon/sample/carts/services/DynamoDBCartService.java
Due: prettier --write

add instruchture
  docs/DEVOPS_STUDY.md
Due: prettier --write

add dockerfiles
  src/cart/Dockerfile
  src/catalog/.dockerignore
  src/catalog/Dockerfile
  src/checkout/Dockerfile
  src/orders/Dockerfile
  src/ui/Dockerfile
Due: none

fix(terraform): align Helm provider version for EKS
  terraform/eks/default/versions.tf
  terraform/eks/minimal/versions.tf
  terraform/lib/eks/versions.tf
Due: terraform fmt, tflint

fix(terraform): update Helm provider syntax for Terraform v3
  terraform/eks/default/versions.tf
  terraform/eks/minimal/versions.tf
  terraform/lib/eks/istio.tf
Due: terraform fmt, tflint

fgvh
  .github/workflows/build&push-image.yaml
  src/app/scripts/build-image.sh
  src/app/scripts/create-manifest.sh
Due: prettier --write

drf
  .github/workflows/build&push-image.yaml
Due: prettier --write

push images
  terraform/modules/iam/github-ecr-role/main.tf
  terraform/modules/iam/github-ecr-role/outputs.tf
  terraform/modules/iam/github-ecr-role/variables.tf
  terraform/modules/iam/github-oidc/main.tf
  terraform/modules/iam/github-oidc/outputs.tf
  terraform/modules/iam/github-oidc/variables.tf
  terraform/modules/mq/main.tf
  terraform/modules/mq/outputs.tf
  terraform/modules/mq/variables.tf
Due: terraform fmt, tflint

hg
  .github/workflows/build&push-image.yaml
Due: prettier --write

push images
  .github/workflows/build&push-image.yaml
  terraform/modules/iam/github-ecr-role/main.tf
Due: prettier --write, terraform fmt, tflint

docs: update the README.md of terraform/eks/{minimal,default} and terraform/apprunner/default to incorporate the new directory paths (miniaml and default) in the deployment instructions
  terraform/apprunner/default/README.md
  terraform/eks/default/README.md
  terraform/eks/minimal/README.md
Due: prettier --write

fix(terraform): align Helm provider version for EKS (#1076)
  terraform/eks/default/versions.tf
  terraform/eks/minimal/versions.tf
  terraform/lib/eks/istio.tf
  terraform/lib/eks/versions.tf
Due: terraform fmt, tflint

docs: fix deployment instructions in terraform/{eks,apprunner}/{minimal,default}/README.md (#1085)
  terraform/apprunner/default/README.md
  terraform/eks/default/README.md
  terraform/eks/minimal/README.md
Due: prettier --write

delete the pkg mangment
  .mergify.yml
  .mise.toml
  .prettierrc
  .release-please-manifest.json
  .yarn/releases/yarn-4.11.0.cjs
  .yarnrc.yml
  nx.json
  package.json
  release-please-config.json
  renovate.json
  yarn.lock
Due: prettier --write

push package manger
  package.json
Due: prettier --write

feat(docker): containerize checkout orders and ui
  src/checkout/.dockerignore
  src/checkout/.yarn/releases/yarn-4.11.0.cjs
  src/checkout/.yarnrc.yml
  src/checkout/Dockerfile
  src/checkout/package-lock.json
  src/checkout/package.json
  src/checkout/yarn.lock
  src/orders/Dockerfile
  src/ui/.dockerignore
  src/ui/Dockerfile
Due: prettier --write

feat(containers): complete Day 05 image hardening
  .gitignore
  src/cart/Dockerfile
  src/cart/pom.xml
  src/catalog/Dockerfile
  src/catalog/docker-compose.yml
  src/checkout/Dockerfile
  src/checkout/docker-compose.yml
  src/orders/Dockerfile
  src/orders/docker-compose.yml
  src/orders/pom.xml
  src/ui/Dockerfile
  src/ui/pom.xml
  src/ui/src/main/java/com/amazon/sample/ui/config/EndpointProperties.java
  src/ui/src/main/java/com/amazon/sample/ui/config/StoreServices.java
  src/ui/src/main/java/com/amazon/sample/ui/web/ProxyController.java
  src/ui/src/main/java/com/amazon/sample/ui/web/util/TopologyService.java
  src/ui/src/test/java/com/amazon/sample/ui/web/util/TopologyServiceTest.java
Due: prettier --write

go
  proof/day05/pre-pr-20260805-130107/console-transcript.txt
  scripts/Invoke-Day05PrePRReview.ps1
  scripts/runtime-audit.sh
  scripts/trivyscan.ps1
  src/ui/src/test/java/com/amazon/sample/ui/config/StoreServicesTest.java
  src/ui/src/test/java/com/amazon/sample/ui/web/ProxyControllerTest.java
Due: prettier --write

test
  proof/day05/pre-pr-20260805-130107/console-transcript.txt
Due: none

test for push
  proof/day05/pre-pr-20260805-130107/console-transcript.txt
Due: none

fix the workflow
  .github/workflows/ci.yml
Due: prettier --write

Fix the confilect
  .github/workflows/ci.yml
Due: prettier --write

Allow CI workflow on ci/day-10-quality-gates
  .github/workflows/ci.yml
Due: prettier --write

change1
  src/ui/Dockerfile
Due: none

test cart
  .github/workflows/ci.yml
  src/cart/Dockerfile
Due: prettier --write

push test
  .github/workflows/ci.yml
Due: prettier --write

fix: verigy service image
  .github/workflows/ci.yml
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.{js,jsx,ts,tsx,json,md,yaml,yml}) or (any of: *.java)) or (any of: *.xml)
  gofmt -w: any of: *.go
  terraform fmt: any of: *.tf
  tflint: any of: *.tf
  yarn nx run-many -t update-samples --projects=tag:sample: any of: samples/**/*
